%br
%br
.slide-container
  .box{:style=>"text-align: center"}
    = link_to 'Routes', routes_path, {:style => "font-size:15px;"}
  %br
  %br
  .box{:style=>"text-align: center"}
    = link_to 'Matchers', matchers_path, {:style => "font-size:15px;"}
%br
  %br
  .box{:style=>"text-align: center"}
    = link_to 'Logs', request_logs_path, {:style => "font-size:15px;"}
